astroid>=2.3.3
bcrypt>=3.1.7
cffi>=1.13.2
Click>=7.0
colorama>=0.4.1
Flask>=1.1.1
Flask-Bcrypt>=0.7.1
isort>=4.3.21
itsdangerous>=1.1.0
Jinja2>=2.10.3
lazy-object-proxy>=1.4.3
MarkupSafe>=1.1.1
mccabe>=0.6.1
pycodestyle>=2.5.0
pycparser>=2.19
pylint>=2.4.4
PyMySQL>=0.9.3
six>=1.13.0
Werkzeug>=0.16.0
wrapt>=1.11.2
yubico_client>=1.12.0
gunicorn>=20.0.4
